---
layout: half
---
{% if site.title %}
<h1 class="pageTitle">{{ site.title }}</h1>
{% endif %}
{% if site.content %}
<p class="pageContent">{{ site.content }}</p>
{% endif %}
<p class="pageContent">В предлагаемом плане Ветхий и Новый заветы читаются параллельно.
  Он доступен для скачивания как в виде модуля для приложения 
  <a href="https://mybible.zone" title="сайт приложения MyBible" target="_blank">MyBible</a>, так и в виде трёх вариантов для печати (в формате PDF):</p>
{% include downloads.html %}
<p class="pageContent">В приложении <a href="https://mybible.zone" title="сайт приложения MyBible" target="_blank">MyBible</a> план уже доступен под названием
  <b><code>NovChurch</code></b> в списке доступных планов (внутри приложения), и для того чтобы начать им пользоваться вам <b>не нужно</b> скачивать его с этого сайта.</p>
<p class="pageContent">Дополнительные материалы см. <a href="https://github.com/novchurch/plan" title="Хранилище исходных кодов сайта">здесь</a>.</p>
{{ content }}
